<div>
  <div class="text-light text-center p-4">
    <h1>Lista de Empleados</h1>
    <a class="btn btn-dark mt-4 fw-semibold rounded-4 border-2 border-warning"
       [routerLink]="['/create-employee']">Crear</a>
  </div>

  <div class="container row m-auto justify-content-center">
    @if (compList.length === 0) {
      <p class="text-center text-light fs-4 fw-semibold">El servidor no está operativo</p>
    }

    @for (e of emplList; track e.id) {
      <div class="col-3 bg-light rounded-4 m-3 p-3 fw-semibold fs-5">
        <h2 class="text-center mb-3">{{ e.name }}</h2>
        <p>Edad: {{ e.age }}</p>
        <p>Puesto: {{ e.position }}</p>
        <p>Salario: {{ e.salary }}</p>

        @if (e.isActive) {
          <p>Estado: Activo</p>
        } @else {
          <p>Estado: Inactivo</p>
        }


        <div class="d-flex justify-content-between">
          <a class="btn btn-info rounded-3" [routerLink]="['/details-employee', e.id]">Detalles</a>
          <a class="btn btn-primary rounded-3" [routerLink]="['/edit-employee', e.id]">Editar</a>
          <a class="btn btn-danger rounded-3" (click)="deleteEmpl(e.id)">Eliminar</a>
        </div>
      </div>
    }
  </div>
</div>
