<div class="text-light d-flex text-center p-5">
  <div class="m-auto w-50 p-5 fs-5">
    <p class="m-auto w-75">
      Este proyecto es una plataforma de administración de empresas y empleados,
      diseñada para optimizar la gestión organizativa de cualquier compañía.
    </p>

    <p class="m-auto mt-5 w-75">
      Permite crear, editar, visualizar y eliminar tanto empresas como sus empleados, facilitando un control eficiente y centralizado.
      Su interfaz intuitiva y sus herramientas avanzadas garantizan una administración rápida y sencilla.
    </p>
  </div>
</div>

