<div>
  <!-- Encabezado -->
  <div class="text-light text-center p-4">
    <h1 class="fw-bold">Lista de Empresas</h1>
    <a class="btn btn-warning text-dark mt-4 fw-semibold rounded-pill px-4 py-2 shadow"
       [routerLink]="['/create-company']">Crear Empresa</a>
  </div>

  <!-- Contenedor Principal -->
  <div class="container">
    @if (compList.length === 0) {
      <div class="alert alert-danger text-center fs-4 fw-semibold mt-4">
        🚨 Servidor no operativo
      </div>
    }

    <div class="row justify-content-center">
      @for (c of compList; track c.id) {
        <div class="col-md-4 col-sm-6 col-12">
          <div class="card bg-light shadow-sm rounded-4 m-3 p-3 border-0">
            <div class="card-body text-center">
              <h2 class="text-primary fw-bold">{{ c.name }}</h2>
              <p class="mb-1"><strong>Número de empleados:</strong> {{ emplList.length }}</p>

              <div class="d-flex justify-content-between mt-3">
                <a class="btn btn-info rounded-pill px-3" [routerLink]="['/details-company', c.id]">Detalles</a>
                <a class="btn btn-primary rounded-pill px-3" [routerLink]="['/edit-company', c.id]">Editar</a>
                <a class="btn btn-danger rounded-pill px-3" (click)="deleteCompany(c.id)">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
